.SideBar
  .LeftHeader
    .LeftHeader__list
      %h3.LeftHeader__userName hogehoge
      %ul.LeftHeader__iconList
        %li.LeftHeader__iconEdit
          = link_to class: "aa" do
            = icon('fas', 'edit')
        %li.LeftHeader__iconNew
          = link_to class: "sa" do
            = icon('fas', 'cog')
  .GroupList
    .Group
      = link_to do
        .Group__name hogehoge
        .Group__notification no message